<div class='footerContainer'>
    <div class="description">
        <p><span>Dawid Femin</span></p>
    </div>
    <div class="description">
        <p><span>O firmie</span></p>
        <p>Do naszych zadań należy przeprowadzenie całego procesu logistycznego oraz możliwa naprawa na życzenie klienta</p>
    </div>
    <div class="description">
        <p><span>Dane kontaktowe</span></p>
        <p>Dawid Femin</p>
        <p>Tel: 555 666 777</p>
        <p>E-mail: dawid.femin@gmail.com</p>
    </div>
    <div class="description">
        <p><span>Nawigacja</span></p>
        <ul>
            <li><a routerLink="/home">Strona główna</a></li>
            <li><a routerLink="/purchaseRules">Zasada zakupu</a></li>
            <li><a routerLink="/findVehicle">Categories</a></li>
            <li><a routerLink="/costs">Categories</a></li>
            <li><a routerLink="/contact">Kontakt</a></li>
        </ul>
    </div>
</div>
<div class='copyright'>
        <p>© 2022 Copyright Dawid Femin - Wszelkie prawa zastrzeżone</p>
</div>